    /**
  * @description {{request.desc}}  {{request.type}} {{ request.fullpath}}
  @param {{requestBody.type}} 
  {
    {% for item in requestBody.field %}
  {{ 'reqdesc.njk' | render(item) }}
  {% endfor %}
  }
  */
  {{ serviceName|upper}}_{{ moduleName| upper}}_{{ request.path| upper}}(data) {
    // 接口请求
    return request({
      url: `${moduleName + pre}/{{request.path}}{{request.query |queryor}}`,
      method: '{{requestBody.type}}',
      data:{{requestBody.body | dataor  }},
      params:{{requestBody.params| dataor }},
    })
  },