{% if data.moduleName and fileName %}
 {% set pre = '/'+fileName %}
{% else %}
 {% set pre = '' %}
{% endif %}

/** {{data.desc}}*/
const pre = '/{{ pre }}'
export default ({ request, requestForMock, mock, tools, moduleName }) => ({


  {% for item in data.functions %}
  {{ 'function.njk' | render(item) }}
  {% endfor %}
 
})
